.container{
  border-radius: 20px;  
  background-color: #fff;
  margin: 20px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  height: 355px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.5s ease-in-out;
}

.container:hover {
    box-shadow:
  0px 13.4px 21.9px rgba(0, 0, 0, 0.023),
  0px 21.9px 30.7px rgba(0, 0, 0, 0.036),
  0px 29.2px 35.5px rgba(0, 0, 0, 0.045),
  0px 36.8px 38.4px rgba(0, 0, 0, 0.052),
  0px 46.3px 40.4px rgba(0, 0, 0, 0.058),
  0px 61px 42.6px rgba(0, 0, 0, 0.064),
  0px 98px 47px rgba(0, 0, 0, 0.07)
;
    transition: all 0.3s ease-in-out;
}
.container .proimg {
    width: 260px;
    height: 250px;
    padding: 10px;
}

.container .protitle {
 font-size: 18px;   
 padding: 5px;
 color: #404040;

}

.container .proprice {
    padding: 5px;
    text-align: left;
    color: #404040;
    margin-bottom: 10px;
}

.container .detailsLink {
    text-decoration: none;
    color: #1a73e8;
    padding: 5px;
    position: relative;
    bottom: 18px;
    left: 2px;
    z-index: 5;
}

.btnContainer {
    text-align: right;
    margin-right: 5px;
}

.btnContainer .buttons .addToCartBtn {
    background-color: #1a73e8;
    border: none;
    padding: 5px;
    border-radius: 20px;
}

.btnContainer .addBtn{
    background-color: #1a73e8;
    border: none;
    padding: 2px;
    border-radius: 20px;
    width: 24px;
    font-size: 18px;
} 

.btnContainer .buttons .removeBtn {
    background-color: #1a73e8;
    border: none;
    padding: 2px;
    border-radius: 20px;
    width: 24px;
    font-size: 18px;
}

.btnContainer .buttons .decreaseBtn {
    background-color: #1a73e8;
    border: none;
    padding: 2px;
    border-radius: 20px;
    width: 24px;
    font-size: 18px;
}

.btnContainer .buttons .quantity {
    font-weight: bold;
    padding: 0 5px;
}